body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #1F2937;
    display: flex;
    color: #f9faf8;
    font-size: 24px;
    justify-content: flex-end;
    margin: 0;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-item:first-child {
    margin-right: auto;
}

.nav-item {
    display: flex;
    margin-right: 2rem;
    gap: 200px; 
}

ul {
    list-style-type: none;
    display: flex;
}

a {
    color: #f9faf8;
    font-size: 24px;
    text-decoration: none;
}

.panel-1 {
    background-color: #1F2937;
}

.secondary {
    color: #e5e7eb;
    font-size: 18px;
}

.information-header {
    font-size: 36px;
    font-weight: 700;
    color: #1F2937;
}

.card {
    color: #e5e7eb;
    font-size: 18px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 700;
    color: #f9faf8;
}

.quote {
    background-color: #e5e7eb;
    color: #1F2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;

}

.call-to-action {
    background-color: #3882f6;
    color: #f9faf8;
}

.Sign-up {
    background-color: #3882f6;
    color: #f9faf8;
}

.footer {
    background-color: #1F2937;
    color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
}