body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

.nav-list {
    background-color: #1F2937;
    margin: 0;
    padding: 1rem 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .nav-item {
    list-style: none;
    margin-right: 4rem;
  }
  
  .nav-item a {
    text-decoration: none;
    color: #f9faf8
  }
  
  .nav-item:first-child {
    margin-right: auto;
    margin-left: 10rem;
  }

ul {
    list-style-type: none;
    display: flex;
}

a {
    color: #f9faf8;
    font-size: 24px;
    text-decoration: none;
}

.panel-1 {
    background-color: #1F2937;
}

.secondary {
    color: #e5e7eb;
    font-size: 18px;
}

.information-header {
    display: flex;
    font-size: 36px;
    font-weight: 700;
    color: #1F2937;
    align-items: center;
    justify-content: center;
}

.icons {
    align-items: center;
    justify-content: space-between
}

.card {
    color: #e5e7eb;
    font-size: 18px;
    justify-content: space-around;
    align-items: center;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 700;
    color: #f9faf8;
}

.quote {
    background-color: #e5e7eb;
    color: #1F2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quote-main {
    padding: 50px 100px;
}


.call-to-action {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 15px 32px;
    margin: 55px 100px;
    border-radius: 10px;
}

.Sign-up {
    background-color: #3882f6;
    color: #f9faf8;
}

.footer {
    background-color: #1F2937;
    color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
}